<%= form_for @post do |f| %>
  <%= f.text_field :title %>
  <div id="epiceditor"><%= @post.body %> bla bla</div>
  <%= f.hidden_field :body %>
  <%= f.submit 'save' %>
<% end %>
<%= javascript_include_tag "lib/epiceditor/epiceditor/js/epiceditor.min" %>
<script>
  var opts = {
    basePath: "/assets/lib/epiceditor/epiceditor"
  };

  var fileName = '<%= @post.friendly_id %>';
  var editor   = new EpicEditor(opts).load();
  var postBody = document.getElementById('post_body');

  editor.importFile(fileName, postBody.value);

  editor.on('save', function () {
    postBody.value = editor.exportFile();
  });
</script>
