<div class="list-group">
  <% unless @guest.declined? %>
    <% unless @wedding.thank_process_started? %>
      <%= list_group_item "#{icon('heart')} Our Day", our_day_path(@guest.token) %>
      <% if @wedding.ceremony_where.present? || @wedding.reception_where.present? %>
        <%= list_group_item "#{icon('map-marker')} Directions", directions_path(@guest.token) %>
      <% end %>
    <% else %>
      <%= list_group_item "#{icon('heart')} Thank You", thank_path(@guest.token) %>
    <% end %>
    <%= list_group_item "#{icon('list')} Guest List", guestlist_path(@guest.token) %>
  <% end %>
  <% if @wedding.gift_registry.active? %>
    <%= list_group_item "#{icon('gift')} Gift Registry", gifts_path(@guest.token) %>
  <% end %>
  <%= list_group_item "#{icon('group')} Messages", messages_path(@guest.token) %>
</div>
