<fieldset>
  <legend>New guest</legend>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, size: 30 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, size: 30 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :adults, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :adults, size: 30, class: 'span1', type: :number %> &nbsp; Children &nbsp; <%= f.text_field :children, size: 30, class: 'span1', type: :number %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :partner_number, "Side", class: "control-label" %>
    <div class="controls">
      <label class="radio">
        <%= f.radio_button :partner_number, 1 %> <%= @wedding.partner_one_name %>
      </label>
      <label class="radio">
        <%= f.radio_button :partner_number, 2 %> <%= @wedding.partner_two_name %>
      </label>
    </div>
  </div>

  <% if @wedding.has_reception? %>
    <div class="control-group">
      <%= f.label :invited_to_reception, class: "control-label" %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :invited_to_reception, true %> Yes
        </label>
        <label class="radio">
          <%= f.radio_button :invited_to_reception, false %> No
        </label>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :address, "Address (Optional)", class: "control-label" %>
    <div class="controls">
      <%= f.email_field :address, size: 30 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone, "Phone (Optional)", class: "control-label" %>
    <div class="controls">
      <%= f.phone_field :phone, size: 30 %>
    </div>
  </div>
</fieldset>
