<div class="row hidden-sm-down">
  <div class="col-sm-12">
    <h1 id="update" class="page-header"><%= controller.page_title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= form_for @guest, url: update_guest_path(@guest.token) do |f| %>
      <% unless @wedding.respond_deadline.past? %>
        <div class="radio">
          <label class="radio">
            <%= f.radio_button :state, 'accepted' %>
            Accepted
          </label>
        </div>
        <div class="radio">
          <label class="radio">
            <%= f.radio_button :state, 'declined' %>
            Declined
          </label>
        </div>

        <% if @guest.invited_to_reception? && @wedding.has_reception? %>
        <div class="checkbox">
          <label>
            <%= f.check_box :attending_reception %> Will you be joining us for the reception?
          </label>
        </div>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= f.label :email, "Email address" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone, "Phone number" %>
        <%= f.email_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address, class: "form-control", rows: 3 %>
      </div>

      <% unless @wedding.respond_deadline.past? %>
        <div class="form-group">
          <%= f.label :adults %>
          <%= f.number_field :adults, class: "form-control" %>
        </div>

        <% if @guest.children != 0 %>
          <div class="form-group">
            <%= f.label :children %>
            <%= f.number_field :children, class: "form-control" %>
          </div>
        <% end %>
      <% end %>

      <button type="submit" class="btn btn-secondary">Update</button>
    <% end %>
  </div>
</div>
