<!DOCTYPE html>
<html>
  <head>
    <title>WeddingInvitor</title>
    <%= stylesheet_link_tag    "designers/application" %>
    <%= javascript_include_tag "designers/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/designers/nav" %>
    <%= render partial: "layouts/designers/flash" %>
    <%= yield %>
  </body>
</html>
