<div class="row">
  <div class="span4">
    <p>All you need to get started is a name for you weeding, you can leave the rest until later. Don't worry your guests don't see this name, they see the wording.</p>
    <p>If you need help with the wording we have you covered: <%= link_to "invitation wording help.", help_page_path(:wording), target: '_blank' %></p>
  </div>
  <div class="span12">
    <%= form_for(@wedding) do |f| %>
      <%= error_messages_on(@wedding) %>
      <fieldset>
        <legend>Wedding and reception details</legend>

        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name, class: 'xlarge', size: 30 %>
            <span class="help-block">The name of your wedding that you will see in WedVite</span>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :respond_deadline %>
          <div class="input">
            <div class="inline-inputs">
              <%= f.datetime_select :respond_deadline, {}, class: 'small' %>
              <span class="help-block">Deadline that people will need to RSVP or decline</span>
            </div>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :ceremony_when %>
          <div class="input">
            <div class="inline-inputs">
              <%= f.datetime_select :ceremony_when, {}, class: 'small' %>
              <span class="help-block">This is your local time</span>
            </div>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :has_reception %>
          <div class="input">
            <ul class="inputs-list">
              <li>
                <label>
                  <%= f.check_box :has_reception %>
                </label>
              </li>
            </ul>
          </div>
        </div>
        
        <div id="reception">
          <div class="clearfix">
            <%= f.label :reception_when %>
            <div class="input">
              <div class="inline-inputs">
                <%= f.datetime_select :reception_when, {}, class: 'small' %>
                <span class="help-block">This is your local time</span>
              </div>
            </div>
          </div>
        </div>

        <div class="actions">
          <% if @wedding.new_record? %>
            <%= f.submit 'Create wedding', class: 'btn primary' %>&nbsp;<%= link_to 'Cancel', root_path, class: 'btn' %>
          <% else %>
            <%= f.submit 'Update wedding', class: 'btn primary' %>&nbsp;<%= link_to 'Cancel', wedding_path(@wedding), class: 'btn' %>
          <% end %>
        </div>
      </fieldset>
    <% end %>
  <div>
<div>
<script>
  weddingFrom = new WeddingForm;
</script>
