<div class="row">
  <div class="span6">
    <h3>Stationary</h3>
    <p>Choose from a selection of invitation stationary.</p>
  </div>
  <div class="span6">
    <h3>Wording</h3>
    <p>Craft your invitations wording.</p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <% if @wedding.outstanding_attributes.include?(:stationary) %>
      <a href="<%= wedding_stationary_index_path(@wedding) %>" class="btn btn-inverse"><i class="icon-plus icon-white"></i> Choose your stationary</a>
    <% else %>
      <a href="<%= wedding_stationary_index_path(@wedding) %>" class="btn btn-success"><i class="icon-ok icon-white"></i> Change your stationary</a>
    <% end %>
  </div>
  <div class="span6">
    <% if @wedding.outstanding_attributes.include?(:wording) %>
      <a href="<%= wedding_wording_path(@wedding) %>" class="btn btn-inverse"><i class="icon-plus icon-white"></i> Start writing</a>
    <% else %>
      <a href="<%= wedding_wording_path(@wedding) %>" class="btn btn-success"><i class="icon-ok icon-white"></i> Change wording</a>
    <% end %>
  </div>
</div>

<% if @wedding.has_reception? %>
  <div class="row">
    <div class="span6">
      <h3>Wording <small>(ceremony only)</small></h3>
      <p>Alternative wording for guests who are not invited to the reception.</p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <% if @wedding.outstanding_attributes.include?(:ceremony_only_wording) %>
        <a href="<%= wedding_ceremony_only_wording_path(@wedding) %>" class="btn btn-inverse"><i class="icon-plus icon-white"></i> Start writing</a>
      <% else %>
        <a href="<%= wedding_ceremony_only_wording_path(@wedding) %>" class="btn btn-success"><i class="icon-ok icon-white"></i> Change wording</a>
      <% end %>
    </div>
  </div>
<% end %>
