<div class="row">
  <div class="span6">
    <h3>Ceremony vitals</h3>
    <p>Set the location using google maps so your guests will know exactly where to go.</p>
  </div>
  <div class="span6">
    <h3>Ceremony special instructions</h3>
    <p>Add any special instructions the guests may need to know in order to get the ceremony</p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <% if @wedding.outstanding_attributes.include?(:ceremony_where) %>
      <a href="<%= ceremony_wedding_locations_path(@wedding) %>" class="btn btn-inverse"><i class="icon-plus icon-white"></i> Add the ceremony vitals</a>
    <% else %>
      <a href="<%= ceremony_wedding_locations_path(@wedding) %>" class="btn btn-success"><i class="icon-ok icon-white"></i> Change vitals</a>
    <% end %>
  </div>
  <div class="span6">
    <% if @wedding.outstanding_attributes.include?(:ceremony_how) %>
      <a href="<%= wedding_ceremony_how_path(@wedding) %>" class="btn btn-inverse"><i class="icon-plus icon-white"></i> Start entering details</a>
    <% else %>
      <a href="<%= wedding_ceremony_how_path(@wedding) %>" class="btn btn-success"><i class="icon-ok icon-white"></i> Edit details</a>
    <% end %>
  </div>
</div>

<% if @wedding.has_reception? %>
  <div class="row">
    <div class="span6">
      <h3>Reception vitals</h3>
      <p>Set the location using google maps so your guests will know exactly where to go.</p>
    </div>
    <div class="span6">
      <h3>Reception special instructions</h3>
      <p>Add any special instructions the guests may need to know in order to get the ceremony</p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <% if @wedding.outstanding_attributes.include?(:reception_where) %>
        <a href="<%= reception_wedding_locations_path(@wedding) %>" class="btn btn-inverse"><i class="icon-plus icon-white"></i> Add the reception vitals</a>
      <% else %>
        <a href="<%= reception_wedding_locations_path(@wedding) %>" class="btn btn-success"><i class="icon-ok icon-white"></i> Change vitals</a>
      <% end %>
    </div>
    <div class="span6">
      <% if @wedding.outstanding_attributes.include?(:reception_how) %>
        <a href="<%= wedding_reception_how_path(@wedding) %>" class="btn btn-inverse"><i class="icon-plus icon-white"></i> Start entering details</a>
      <% else %>
        <a href="<%= wedding_reception_how_path(@wedding) %>" class="btn btn-success"><i class="icon-ok icon-white"></i> Edit details</a>
      <% end %>
    </div>
  </div>
<% end %>
