<div class="guests">
  <div class="header clearfix">
    <h2 class="column"><%= @wedding.partner_one_name %></h2>
    <h2 class="column"><%= @wedding.partner_two_name %></h2>
  </div>
  <% guest_array.each do |ga| %>
    <% next if ga[:guests].empty? %>
    <div class="block clearfix <%= ga[:state] %>" id="<%= ga[:state] %>">
      <% [1,2].each do |partner_number| %>
      <div class="column">
        <% ga[:guests].select{|g| g.partner_number == partner_number}.each do |guest| %>
          <div class="guest" data-id="<%= guest.id %>">
            <%= state_icon guest.state %>
            <div class="details">
              <h3><%= link_to guest.name, wedding_guest_path(@wedding, guest) %></h3>
              <span>Adults: <%= guest.adults %> |</span>
              <span>Children: <%= guest.children %> |</span>
              <span>Comments: <%= guest.comments_count %></span>
            </div>
            <div class="actions">
              <i class="icon-arrow-up"></i>
              <i class="icon-arrow-down"></i>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
