<%
tasks = [
  {
    name: "Details",
    fixed: [
      {
        attribute: :wedding,
        url: edit_wedding_path(@wedding),
        title: "Wedding"
      },
      {
        attribute: :collaborators,
        url: wedding_collaborators_path(@wedding),
        title: "Collaborators"
      }
    ],
    completable_attributes: [
      {
        attribute: :ceremony_how,
        url: wedding_ceremony_how_path(@wedding),
        title: "Ceremony how"
      },
      {
        attribute: :ceremony_what,
        url: wedding_ceremony_what_path(@wedding),
        title: "Ceremony what"
      },
      {
        attribute: :reception_how,
        url: wedding_reception_how_path(@wedding),
        title: "Reception how"
      },
      {
        attribute: :reception_what,
        url: wedding_reception_what_path(@wedding),
        title:  "Reception what"
      },
      {
        attribute: :stationary,
        url: wedding_stationary_index_path(@wedding),
        title:  "Stationary"
      }
    ]
  },
  {
    name: "Location",
    completable_attributes: [
      {
        attribute: :ceremony_where,
        url: ceremony_wedding_locations_path(@wedding),
        title: "Ceremony" 
      },
      {
        attribute: :reception_where,
        url: reception_wedding_locations_path(@wedding),
        title: "Reception"
      }
    ]
  },
  {
    name: "Wording",
    completable_attributes: [
      {
        attribute: :wording,
        url: wedding_wording_path(@wedding),
        title: "Ceremony & reception"
      },
      {
        attribute: :ceremony_only_wording,
        url: wedding_ceremony_only_wording_path(@wedding),
        title: "Ceremony only"
      },
      {
        attribute: :save_the_date_wording,
        url: wedding_save_the_date_wording_path(@wedding),
        title: "Save the date"
      }
    ]
  }
]

%>

<div class="nav">
  <p><strong><%= total_guests %></strong> approved, RSVP'd and sent</p>
  <p><strong><%= total_possible_guests %></strong> + tentative</p>
  <% tasks.each do |task| %>
    <ul class="nav nav-list">
      <li class="nav-header"><%= task[:name] %></li>
      <% (task[:fixed] || []).each do |item| %>
        <li>
          <%= link_to item[:url] do %>
            <i class="icon-th-list icon-white"></i>
            <%= item[:title] %>
          <% end %>
        </li>
      <% end %>
      <% (task[:completable_attributes] || []).select{|a| @wedding.completable_attributes.include?(a[:attribute])}.each do |item| %>
        <li>
          <%= link_to item[:url] do %>
            <% unless @wedding.outstanding_attributes.include?(item[:attribute]) %>
              <i class="icon-ok icon-white"></i>
            <% else %>
              <i class="icon-pencil icon-white"></i>
            <% end %>
            <%= item[:title] %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if @wedding.stationary && @wedding.payment_made %>
  <%= link_to wedding_confirm_path(@wedding), class: 'btn btn-success btn-large', style: 'width: 190px;' do %>
    <i class="icon-envelope icon-white"></i>
    Send invitations
  <% end %>
<% else %>
  <%= link_to wedding_payment_path(@wedding), class: 'btn btn-warning btn-large', style: 'width: 190px;' do %>
    <i class="icon-gift icon-white"></i>
    Pay now
  <% end %>
<% end %>
