<div class="page-header" id="top">
  <h1><%= @wedding.name %></h1>
</div>
<ul class="nav nav-pills">
  <%= content_tag :li, class: (action_name == 'timeline' ? 'active' : nil) do %>
    <%= link_to 'Timeline', wedding_timeline_path(@wedding) %>
  <% end %>
  <%= content_tag :li, class: (action_name == 'guestlist' ? 'active' : nil) do %>
    <%= link_to 'Guest List', wedding_guestlist_path(@wedding) %>
  <% end %>
</ul>
