<section class="details">
  <div class="row">
    <div class="span3">
      <ul class="nav nav-wedvite">
        <li class="active"><a href="#ourday">Our Day</a></li>
        <li><a href="#date_and_times">Dates & Times</a></li>
        <% if @wedding.has_reception? %>
          <li><a href="#ceremony_directions">Ceremony Directions</a></li>
          <li><a href="#reception_directions">Reception Directions</a></li>
        <% else %>
          <li><a href="#ceremony_directions">Directions</a></li>
        <% end %>
        <li><a href="#settings">Settings</a></li>
      </ul>
    </div>
    <div class="span9">
      <div class="slide-deck">
        <div class="slide" data-position="1" data-transition="horizontal" id="ourday">
          <%= render partial: 'users/weddings/details/ourday' %>
        </div>
        <div class="slide hide" data-position="2" data-transition="horizontal" id="date_and_times">
          <%= render partial: 'users/weddings/details/date_and_times' %>
        </div>
        <div class="slide hide" data-position="3" data-transition="horizontal" id="ceremony_directions">
          <%= render partial: 'users/weddings/details/ceremony_directions' %>
        </div>
        <% if @wedding.has_reception? %>
          <div class="slide hide" data-position="4" data-transition="horizontal" id="reception_directions">
            <%= render partial: 'users/weddings/details/reception_directions' %>
          </div>
        <% end %>
        <div class="slide hide" data-position="10" data-transition="horizontal" id="settings">
          <%= render partial: 'users/weddings/details/settings' %>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
(function() {

    var $container = $('.slide-deck'),
        $sections  = $container.find('.slide'),
        $navItems  = $('.nav-wedvite li')

    $sections.slideDeck({
        speed: 500,
        easing: $.support.transition ? 'ease' : 'swing'
    })

    $container.css('height', $($sections.get(0)).height())
    $sections.on('incomming', function(event, elem) {
        $container.css('height', $(this).height())
    })


    $navItems.find('a').on('click', function(event) {
        event.preventDefault()

        // toggle active states
        $navItems.removeClass('active')
        $(this).parent().addClass('active')

        // transition
        var id = this.hash.replace(/#/, '')
        $sections.change(id)
        return false
    })

    $sections.on('entered', function(event, elem) {
        if (this.id === 'ceremony_directions') locations('ceremony_location')
    })

    $sections.on('entered', function(event, elem) {
        if (this.id === 'reception_directions') locations('reception_location')
    })

})();
</script>

<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places' %>
