<h1><%= @wedding.name %></h1>
<h2>Approved Adults <%= @total_approved_adults %></h2>
<h2>Approved Children <%= @total_approved_children %></h2>
<div class="row">
  <div class="span12">
    <%= link_to "Edit wedding", edit_wedding_path(@wedding), class: 'btn' %>
    <%= link_to "+ Add guest", new_wedding_guest_path(@wedding), class: 'btn' %>
    <%= link_to "Manage collaborators", wedding_collaborators_path(@wedding), class: 'btn' %>
  </div>
</div>

<% @guests.each do |guest| %>
<div class="guest-container">
  <div class="row">
    <div class="span12">
      <h3><%= guest.name %></h3>
    </div>
  </div>
  <div class="row guest headline">
    <div class="span2">
      <%
        css = case guest.state
        when 'approved'
          'success'
        when 'rejected'
          'error'
        when 'tentative'
          'info'
        end
      %>
      <span class="alert-message <%= css %>"><%= guest.state %></span>
    </div>
    <div class="span14">
      <span>Adults: <%= guest.adults %> |</span>
      <span>Children: <%= guest.children %></span>
      <span class="btn small show-actions" data-toggle="toggle" style="float: right">Show actions</span>
      <% if guest.comments.size >= 1 %>
        <span class="btn small comments" data-toggle="toggle" style="float: right">Show comments (<%= guest.comments.size %>)</span>
      <% end %>
    </div>
  </div>
  <div class="row guest actions">
    <div class="span13">
      <%= render partial: 'state', locals: { guest: guest } %>
      <%= link_to 'Edit guest', edit_wedding_guest_path(@wedding, guest), class: 'btn' %>
      <%= link_to 'Comment', new_wedding_guest_comment_path(@wedding, guest), class: 'btn' %>
    </div>
  </div>
  <div class="row guest comments">
    <div class="span16">
      <%= render partial: 'comments', locals: { guest: guest } %>
    </div>
  </div>
</div>
<% end %>

<script>
  new GuestList;
</script>
