<div class="guests">
  <div class="header clearfix">
    <div class="column">
      <div class="guest bride-groom">
        <%= state_icon GuestState.accepted %>
        <div class="details">
          <h3><%= @wedding.partner_one_name %></h3>
          <% if can? :update, @wedding %><span><%= link_to "re-name", "#" %></span><% end %>
        </div>
        <% if can? :update, @wedding %>
          <%= form_for @wedding, html: { style: 'display: none;' } do |f| %>
            <div class="controls">
              <div class="input-append">
                <%= f.text_field :partner_one_name, style: 'margin: 0px;' %><button class="btn" type="submit">Save</button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="column">
      <div class="guest bride-groom">
        <%= state_icon GuestState.accepted %>
        <div class="details">
          <h3><%= @wedding.partner_two_name %></h3>
          <% if can? :update, @wedding %><span><%= link_to "re-name", "#" %></span><% end %>
        </div>
        <% if can? :update, @wedding %>
          <%= form_for @wedding, html: { style: 'display: none;' } do |f| %>
            <div class="controls">
              <div class="input-append">
                <%= f.text_field :partner_two_name, style: 'margin: 0px;' %><button class="btn" type="submit">Save</button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% GuestState.each do |state| %>
    <% next if @guest_list.currently(state).empty? %>
    <div class="block clearfix <%= state.noun %>" id="<%= state.noun %>">
      <% [1,2].each do |partner_number| %>
      <div class="column">
        <% @guest_list.currently(state).partner(partner_number).each do |guest| %>
          <div class="guest <%= guest.viewed? ? "viewed" : nil %>" data-id="<%= guest.id %>">
            <%= state_icon GuestState.by_noun(guest.state) %>
            <div class="details">
              <h3><%= guest.name %></h3>
              <span>Adults: <%= guest.adults %></span>
              <span>Children: <%= guest.children %></span>
              <span>Notes: <%= guest.comments_count %></span>
            </div>
            <div class="actions">
              <% if can? :edit, guest %>
                <%= link_to "status", wedding_guest_path(@wedding, guest), class: "modal-me" %>
                <%= link_to "edit", edit_wedding_guest_path(@wedding, guest), class: "modal-me" %>
                <%= link_to "notes", wedding_guest_comments_path(@wedding, guest), class: "modal-me" %>
                <% if @wedding.stationery && guest.state == 'approved' %>
                  <%= link_to "preview", wedding_guest_preview_path(@wedding, guest), target: "_blank" %>
                  <%= link_to "print", wedding_guest_preview_path(@wedding, guest, format: :pdf), target: "_blank" %>
                <% end %>
                <% if guest.thanked? %>
                  <%= link_to "re-thank", wedding_guest_thank_path(@wedding, guest) %>
                <% elsif guest.sent? %>
                  <%= link_to "remind", wedding_guest_remind_path(@wedding, guest) %>
                <% elsif guest.accepted? || guest.declined? %>
                  <%= link_to "send link", wedding_guest_link_path(@wedding, guest) %>
                <% end %>
                <%= link_to "ourday", wedding_guest_ourday_path(@wedding, guest, format: :pdf) %>
                <%= link_to "invitation", wedding_guest_invitation_path(@wedding, guest, format: :pdf) %>
                <% unless Rails.env.production? %>
                  <%= link_to "ʕ •ᴥ•ʔ", invitation_url(guest.token, subdomain: 'invitations'), target: "_blank" %>
                <% end %>
              <% end %>
              <!-- 
              <% if can? :comment, guest %>
                <%= link_to "notes #{guest.comments_count}", "#" %>
              <% end %>
              -->
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
