<div class="guests">
  <div class="header clearfix">
    <div class="column">
      <div class="guest bride-groom">
        <div class="details">
          <%= state_icon 'accepted' %>
          <h3><%= @wedding.partner_one_name %></h3>
          <span><%= link_to "re-name", "#" %></span>
        </div>
        <%= form_for @wedding, html: { style: 'display: none;' } do |f| %>
          <div class="controls">
            <div class="input-append">
              <%= f.text_field :partner_one_name, style: 'margin: 0px;' %><button class="btn" type="submit">Save</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column">
      <div class="guest bride-groom">
        <div class="details">
          <%= state_icon 'accepted' %>
          <h3><%= @wedding.partner_two_name %></h3>
          <span><%= link_to "re-name", "#" %></span>
        </div>
        <%= form_for @wedding, html: { style: 'display: none;' } do |f| %>
          <div class="controls">
            <div class="input-append">
              <%= f.text_field :partner_two_name, style: 'margin: 0px;' %><button class="btn" type="submit">Save</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <script>
    $('.bride-groom').each(function(index, elem) {
      var $edit = $(elem).find('a')
      $edit.on('click', function(event) {
        event.preventDefault()
        $(elem).find('.details').hide()
        $(elem).find('form').show()
      })
    })
  </script>
  <% guest_array.each do |ga| %>
    <% next if ga[:guests].empty? %>
    <div class="block clearfix <%= ga[:state] %>" id="<%= ga[:state] %>">
      <% [1,2].each do |partner_number| %>
      <div class="column">
        <% ga[:guests].select{|g| g.partner_number == partner_number}.each do |guest| %>
          <div class="guest" data-id="<%= guest.id %>">
            <%= state_icon guest.state %>
            <div class="details">
              <h3><%= guest.name %></h3>
              <span>Adults: <%= guest.adults %></span>
              <span>Children: <%= guest.children %></span>
            </div>
            <div class="actions">
              <%= link_to "move", wedding_guest_path(@wedding, guest), class: "modal-me" %>
              <%= link_to "update", edit_wedding_guest_path(@wedding, guest), class: "modal-me" %>
              <% if @wedding.stationary && !%w(accepted declined).include?(guest.state) %>
                <%= link_to "preview", invitation_url(guest.token, subdomain: "invitations"), target: "_blank" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
