<div class="guests">
  <div class="header clearfix">
    <div class="column">
      <div class="guest bride-groom">
        <div class="details">
          <%= state_icon 'accepted' %>
          <h3><%= @wedding.partner_one_name %></h3>
          <% if can? :update, @wedding %><span><%= link_to "re-name", "#" %></span><% end %>
        </div>
        <% if can? :update, @wedding %>
          <%= form_for @wedding, html: { style: 'display: none;' } do |f| %>
            <div class="controls">
              <div class="input-append">
                <%= f.text_field :partner_one_name, style: 'margin: 0px;' %><button class="btn" type="submit">Save</button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="column">
      <div class="guest bride-groom">
        <div class="details">
          <%= state_icon 'accepted' %>
          <h3><%= @wedding.partner_two_name %></h3>
          <% if can? :update, @wedding %><span><%= link_to "re-name", "#" %></span><% end %>
        </div>
        <% if can? :update, @wedding %>
          <%= form_for @wedding, html: { style: 'display: none;' } do |f| %>
            <div class="controls">
              <div class="input-append">
                <%= f.text_field :partner_two_name, style: 'margin: 0px;' %><button class="btn" type="submit">Save</button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <script>
    $('.bride-groom').each(function(index, elem) {
      var $edit = $(elem).find('a')
      $edit.on('click', function(event) {
        event.preventDefault()
        $(elem).find('.details').hide()
        $(elem).find('form').show()
      })
    })
  </script>
  <% guest_array.each do |ga| %>
    <% next if ga[:guests].empty? %>
    <div class="block clearfix <%= ga[:state] %>" id="<%= ga[:state] %>">
      <% [1,2].each do |partner_number| %>
      <div class="column">
        <% ga[:guests].select{|g| g.partner_number == partner_number}.each do |guest| %>
          <div class="guest" data-id="<%= guest.id %>">
            <%= state_icon guest.state %>
            <div class="details">
              <h3><%= guest.name %></h3>
              <span>Adults: <%= guest.adults %></span>
              <span>Children: <%= guest.children %></span>
            </div>
            <div class="actions">
              <% if can? :edit, guest %>
                <%= link_to "move", wedding_guest_path(@wedding, guest), class: "modal-me" %>
                <%= link_to "update", edit_wedding_guest_path(@wedding, guest), class: "modal-me" %>
                <% if @wedding.stationary && guest.state == 'approved' %>
                  <%= link_to "preview", wedding_guest_preview_path(@wedding, guest), target: "_blank" %>
                <% end %>
              <% end %>
              <!-- 
              <% if can? :comment, guest %>
                <%= link_to "comments #{guest.comments_count}", "#" %>
              <% end %>
              -->
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
