<div class="quickie">
  <div class="wrapper">
      <p>
      <% c = capture do %>
        <p>Total: <%= total_guests %></p>
        <p><strong><%= total_guests_partner 1 %></strong> <%= @wedding.partner_one_name %></p>
        <p><strong><%= total_guests_partner 2 %></strong> <%= @wedding.partner_two_name %></p>
      <% end %>

      <%= content_tag :i, nil, {
        class: ["icon-info-sign"],
        rel: "popover",
        "data-content" => c,
        "data-original-title" => "totals"
      } %>
      <strong><%= total_guests %></strong> Guests</p>

  <%= link_to new_wedding_guest_path(@wedding), class: 'btn btn-large modal-me' do %>
    <i class="icon-plus-sign"></i> Add guest
  <% end %>
    <% guest_array.each do |ga| %>
      <% next if ga[:guests].empty? %>
      <%= content_tag :div, { class: ['quickie-nav', ga[:state]] } do %>
        <%= state_icon ga[:state] %>
        <% c = capture do %>
          <p>Total: <%= ga[:stats][:total] %></p>
          <sub>adults: <%= ga[:stats][:adults] %></sub>
          <sub>children: <%= ga[:stats][:children] %></sub>
          <p><%= @wedding.partner_one_name %>: <%= ga[:stats][:partner_one][:total] %></p>
          <sub>adults: <%= ga[:stats][:partner_one][:adults] %></sub>
          <sub>children: <%= ga[:stats][:partner_one][:children] %></sub>
          <p><%= @wedding.partner_two_name %>: <%= ga[:stats][:partner_two][:total] %></p>
          <sub>adults: <%= ga[:stats][:partner_two][:adults] %></sub>
          <sub>children: <%= ga[:stats][:partner_two][:children] %></sub>
        <% end %>

        <%= content_tag :i, nil, {
          class: ["icon-eye-open", "icon-white", "toggle"],
          "data-id" => ga[:state],
          "title" => "show/hide",
          "rel" => "tooltip"
        } %>
        <%= content_tag :i, nil, {
          class: ["icon-info-sign", "icon-white"],
          "data-id" => ga[:state],
          rel: "popover",
          "data-content" => c,
          "data-original-title" => ga[:title]
        } %>
        <%= content_tag :i, nil, {
          class: ["icon-chevron-right", "icon-white", "goto"],
          "data-id" => ga[:state],
          "title" => "jump to #{ga[:state]}",
          "rel" => "tooltip"
        } %>
      <% end %>
    <% end %>
  <%= link_to "#", class: ['btn', 'btn-large', 'goto'], "data-id" => "top" do %>
    <i class="icon-chevron-up"></i> Back to top
  <% end %>
</div>
</div>
