<div class="quickie">
  <div class="wrapper">
      <p>
      <% c = capture do %>
        <p>Total: <%= @guest_list.likely.total %></p>
        <p><strong><%= @guest_list.partner(1).likely.total %></strong> <%= @wedding.partner_one_name %></p>
        <p><strong><%= @guest_list.partner(2).likely.total %></strong> <%= @wedding.partner_two_name %></p>
      <% end %>

      <%= content_tag :i, nil, {
        class: ["icon-info-sign"],
        rel: "popover",
        "data-content" => c,
        "data-original-title" => "totals"
      } %>
      <strong><%= @guest_list.total %></strong> Guests</p>

    <% GuestState.each do |state| %>
      <% @guest_list.currently(state).tap do |guest_list| %>
        <% next if guest_list.currently(state).empty? %>
        <%= content_tag :div, { class: ['quickie-nav', state.noun] } do %>
          <%= state_icon state %>
          <% c = capture do %>
            <p>Total: <%= guest_list.total %></p>
            <sub>adults: <%= guest_list.adults %></sub>
            <sub>children: <%= guest_list.children %></sub>
            <% [1,2].each do |number| %>
              <p><%= @wedding.partner_name(number) %>: <%= guest_list.partner(number).total %></p>
              <sub>adults: <%= guest_list.partner(number).adults %></sub>
              <sub>children: <%= guest_list.partner(number).children %></sub>
            <% end %>
          <% end %>

          <%= content_tag :i, nil, {
            class: ["icon-eye-open", "toggle"],
            "data-id" => state.noun,
            "title" => "show/hide",
            "rel" => "tooltip"
          } %>
          <%= content_tag :i, nil, {
            class: ["icon-info-sign"],
            "data-id" => state.noun,
            rel: "popover",
            "data-content" => c,
            "data-original-title" => state.title
          } %>
          <%= content_tag :i, nil, {
            class: ["icon-chevron-right", "goto"],
            "data-id" => state.noun,
            "title" => "jump to #{state.noun}",
            "rel" => "tooltip"
          } %>
        <% end %>
      <% end %>
    <% end %>
  <%= link_to "#", class: ['btn', 'btn-large', 'goto', 'goto-top'], "data-id" => "top" do %>
    <i class="icon-chevron-up"></i> Back to top
  <% end %>
  <hr/>
  <% if can? :create, Guest %>
    <%= link_to new_wedding_guest_path(@wedding), class: 'btn btn-large modal-me' do %>
      <i class="icon-plus-sign"></i> Add guest
    <% end %>
  <% end %>
</div>
</div>
