<% current_index = 0 %>
<a class="paddle left" href="#"><span>Previous</span></a>
<div class="stationeries">
  <% @stationery.each_with_index do |stationery, index| %>
    <div class="stationery" data-id="<%= index %>">
      <h2><%= stationery.name %> <!-- <small><%= stationery.price == 0 ? "Free" : "$#{stationery.price}" %></small> --></h2>
      <sub>by <%= stationery.agency.name %></sub>
      <div class="wrapper" data-src="<%= stationery.preview.url %>"></div>
      <sub><%= index + 1 %> of <%= @stationery.size %></sub>
      <div class="actions">
        <%= link_to 'Preview using your wording', wedding_stationery_preview_path(@wedding, stationery), target: '_blank', class: 'btn' %>
        <% if @wedding.stationery == stationery %>
          <% current_index = index %>
        <% else %>
          <%= link_to 'Use this stationery for your wedding', wedding_stationery_choose_path(@wedding, stationery), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<a class="paddle right" href="#"><span>Next</span></a>
