<%= invitations_form do |f| %>
  <fieldset>
    <%= f.text_area :wording, class: 'markdown', rows: 3 %>

    <% if @wedding.has_reception? %>
      <hr/>
      <%= f.label :ceremony_only_wording, "Seperate wording for guests that are only attending the ceremony:" %>
      <%= f.text_area :ceremony_only_wording, class: 'markdown', rows: 3 %>
    <% end %>

    <div class="form-actions">
      <%= f.submit 'Save changes', class: 'btn primary' %>&nbsp;<%= link_to 'Preview', wedding_invitation_preview_path(@wedding), target: '_blank', class: 'btn' %>
    </div>
  </fieldset>
<% end %>
