<%= invitations_form do |f| %>
  <div data-wysiwyg="stationery">
    <div class="editor"><%= raw markdown.render(@wedding.wording) %></div>
    <%= f.text_field :wording, class: 'markdown' %>
  </div>
  <%= f.submit 'Save changes', class: 'btn btn-secondary' %>
  <% unless @wedding.stationery.nil? %>
    <%= link_to 'Preview', wedding_invitation_preview_path(@wedding),
      target: '_blank',
      class: 'btn btn-secondary'
    %>
  <% end %>
<% end %>
