<!DOCTYPE html>
<html>
  <head>
    <title>WedVite - Online Wedding Invitations and Guest Organiser</title>
    <meta content="en-AU" http-equiv="content-language" />
    <meta content="IE=8,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="invitations,ecards,stationery,paperless,post,email,weddings,holidays,organiser,guestlist,website" name="keywords" />
    <meta content="WedVite Wedding guestlist organiser and online invitations.  Save time, money and trees." name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="/favicon.png" rel="shortcut icon" type="image/png" />
    <%= stylesheet_link_tag "site/application" %>
    <%= javascript_include_tag "site/application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
