<!DOCTYPE html>
<html>
  <head>
    <title>WedVite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= stylesheet_link_tag "site/application" %>
    <%= javascript_include_tag "site/application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
