<%= raw markdown.render @wedding.gift_registry.details %>

<% @wedding.gift_registry.gifts.each do |gift| %>
  <div class="row">
    <div class="span12">
      <p><strong><%= gift.description %> $<%= gift.price %></strong><p>
    </div>
    <div class="span12">
      <% unless gift.url.nil? %>
        <p><%= link_to gift.url, gift.url, target: 'blank' %></p>
      <% end %>
    </div>
    <div class="span12">
      <% if gift.unclaimed? %>
        <%= link_to 'Claim this gift.', claim_gift_path(@guest.token, gift), class: 'btn' %>
      <% elsif gift.claimed_by @guest %>
        <%= link_to 'Un-claim this gift.', unclaim_gift_path(@guest.token, gift), class: 'btn' %>
      <% else %>
        This gift has been claimed.
      <% end %>
    </div>
  </div>
  <hr/>
<% end %>
