<div class="page-header">
  <h1>Update your details</h1>
</div>

<%= form_for @guest, url: guest_path, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :state, "You have", class: "control-label" %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :state, 'accepted' %>
          Accepted
        </label>
        <label class="radio">
          <%= f.radio_button :state, 'declined' %>
          Declined
        </label>
      </div>
    </div>

    <% if @guest.invited_to_reception? %>
      <div class="control-group">
        <%= f.label :attending_reception, "Reception", class: "control-label" %>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="optionsCheckboxList1" value="option1">
            <%= f.check_box :attending_reception %>
            Will you be joining us for the reception?
          </label>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :address, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :address, class: 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, class: "control-label" %>
      <div class="controls">
        <%= f.phone_field :phone, class: 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :adults, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :adults, class: 'input-xlarge', type: :number %>
      </div>
    </div>

    <% if @guest.children != 0 %>
      <div class="control-group">
        <%= f.label :children, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :children, class: 'input-xlarge', type: :number %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.email_field :email, class: 'input-xlarge' %>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn">Update</button>
    </div>
  </fieldset>
<% end %>

<div class="page-header">
  <h1>Print invitation</h1>
</div>
<%= link_to 'Download invitation in PDF format', print_invitation_path(@guest.token, format: :pdf), class: 'btn', target: '_blank' %>
