<ul class="nav nav-tabs">
  <li class="active"><a href="#ourday" data-toggle="tab">Our Day</a></li>
  <li><a href="#directions"data-toggle="tab">Directions</a></li>
  <li><a href="#settings" data-toggle="tab">You</a></li>
  <li><a href="#guestlist" data-toggle="tab">Guest List</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
  <li><a href="#gifts" data-toggle="tab">Gift Registry</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="ourday">
    <%= render "invitations/guests/ourday" %>
  </div>

  <div class="tab-pane" id="directions">
    <%= render "invitations/guests/directions" %>
  </div>

  <div class="tab-pane" id="settings">
    <%= render "settings" %>
  </div>

  <div class="tab-pane" id="guestlist">
    <%= render "guestlist" %>
  </div>

  <div class="tab-pane" id="messages">
    <%= render "messages" %>
  </div>

  <% unless @wedding.gift_registry.nil? %>
    <div class="tab-pane" id="gifts">
      <%= render "gift_registry" %>
    </div>
  <% end %>
</div>
