<ul class="nav nav-tabs" id="myTab">
  <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">When / Where<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#when" data-toggle="tab">When</a></li>
      <li><a href="#where" data-toggle="tab">Where</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">How / What<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#how" data-toggle="tab">How</a></li>
      <li><a href="#what" data-toggle="tab">What</a></li>
    </ul>
  </li>
  <li><a href="#settings"data-toggle="tab">Settings</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="when">
    <p>Ceremony: <%= @wedding.ceremony_when %></p>
    <p>Reception: <%= @wedding.reception_when %></p>
  </div>
  <div class="tab-pane" id="where">
    <p style="text-align: right;"><%= link_to "http://maps.google.com/maps?q=#{@wedding.ceremony_where.name}, #{@wedding.ceremony_where.formatted_address}", target: "blank"  do %>
      open this map <i class="icon-share-alt"></i>
      <% end %></p>
    <div class="map-wrapper">
      <div id="map_canvas" style="width: 100%; height: 100%"></div>
    </div>
    <p><%= @wedding.ceremony_where.name %></p>
    <p><%= @wedding.ceremony_where.formatted_address %></p>
    <p><%= @wedding.ceremony_where.international_phone_number %></p>
    <p><%= link_to "Website", @wedding.ceremony_where.website, target: "blank" %></p>
    </div>
  </div>
  <div class="tab-pane" id="how">

  </div>
  <div class="tab-pane" id="what">

  </div>
</div>

<script type="text/javascript">
  var lat = "<%= @wedding.ceremony_where.lat %>"
  var lng = "<%= @wedding.ceremony_where.lng %>"

  function initialize() {
    var myOptions = {
      center: new google.maps.LatLng(lat, lng),
      zoom: 8,
      zoomControl: false,
      disableDoubleClickZoom: true,
      disableDefaultUI: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

    var centerPoint  = new google.maps.LatLng(lat, lng)

    var marker = new google.maps.Marker({
        map: map,
        draggable: false,
        animation: google.maps.Animation.DROP,
        position: centerPoint
    })

    var infowindow   = new google.maps.InfoWindow()
    var defaultImage = new google.maps.MarkerImage(
        "http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
        new google.maps.Size(71, 71),
        new google.maps.Point(0, 0),
        new google.maps.Point(17, 34),
        new google.maps.Size(35, 35)
    )

    marker.setIcon(defaultImage)
  }

$('a[href="#where"]').on('shown', function (e) {
  initialize()
})
</script>
