<%= form_for @collaborator, url: wedding_collaborator_path(@wedding, @collaborator), html: { class: 'form-horizontal modal-form' } do %>
  <div class="modal-body">
    <fieldset>
      <legend>Change collaborators role</legend>
      <div class="control-group">
        <%= label_tag :role, "Role", class: "control-label" %>
        <div class="controls">
          <% Collaborator::ROLES.each do |role| %>
            <label class="radio">
              <%= radio_button_tag :role, role, @collaborator.role == role %>
              <strong><%= role %></strong>
              <p><%= t "collaborator.role.#{role}.description" %></p>
            </label>
          <% end %>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= submit_tag 'Save', class: 'btn primary' %>&nbsp;<a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
<% end %>
