<%= form_tag wedding_collaborators_path(@wedding), class: 'form-horizontal modal-form' do %>
  <div class="modal-body">
    <fieldset>
      <legend>Invite a collaborator</legend>
      <div class="control-group">
        <%= label_tag :email, "Email", class: "control-label" %>
        <div class="controls">
          <%= email_field_tag :email, nil, size: 30 %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :role, "Role", class: "control-label" %>
        <div class="controls">
          <% Collaborator::ROLES.each do |role| %>
            <label class="radio">
              <%= radio_button_tag :role, role, @invitor.role == role %>
              <strong><%= role %></strong>
              <p><%= t "collaborator.role.#{role}.description" %></p>
            </label>
          <% end %>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= submit_tag 'Save', class: 'btn primary' %>&nbsp;<a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
<% end %>
