<div class="row">
  <div class="col-sm-12">
    <h1 id="gift-registry" class="page-header"><%= controller.page_title %></h1>
    <%= raw markdown.render @wedding.gift_registry.details.to_s %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-deck-wrapper">
      <% @wedding.gift_registry.gifts.each_slice(2) do |set| %>
        <div class="card-deck">
          <% set.each do |gift| %>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">
                  <%= gift.description %>
                  <%= gift.claimed_by(@guest) ? icon('check-circle-o', class: "text-success") : nil %>
                </h4>
                <p>estimated price $<%= gift.price %></p>
                <% unless gift.url.nil? %>
                  <p class="card-text"><%= link_to 'website', gift.url, target: 'blank' %></p>
                <% end %>
                <% if gift.unclaimed? %>
                  <%= link_to 'Claim this gift.', claim_gift_path(@guest.token, gift), class: 'btn btn-secondary' %>
                <% elsif gift.claimed_by @guest %>
                  <%= link_to 'Un-claim this gift.', unclaim_gift_path(@guest.token, gift), class: 'btn btn-secondary' %>
                <% else %>
                  This gift has been claimed.
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
