<div class="page-header" id="top">
  <h1><%= @wedding.name %></h1>
</div>
<ul class="nav nav-pills">
  <% if can? :update, @wedding %>
    <%= nav_tab "Wedding Details", wedding_details_path(@wedding) %>
  <% end %>
  <% if can? :manage_collaborators, @wedding %>
    <%= nav_tab "Collaborate", wedding_collaborators_path(@wedding) %>
  <% end %>
  <%= nav_tab "Guest List", wedding_guestlist_path(@wedding) %>
  <% if can? :update, @wedding %>
    <%= nav_tab "Invitation & Stationery", wedding_invitations_path(@wedding) %>
  <% end %>
  <% if can? :update, @wedding %>
    <%= nav_tab "Gift Registry", wedding_gift_registry_path(@wedding) %>
  <% end %>
  <%= nav_tab "Timeline", wedding_timeline_path(@wedding) %>
  <% if can? :send_invitations, @wedding %>
    <% if @wedding.celebrated? %>
      <%= nav_tab "Thank Guests", wedding_thank_path(@wedding) %>
    <% else %>
      <%= nav_tab "Invite Guests", wedding_confirm_path(@wedding) %>
    <% end %>
  <% end %>
</ul>
