<div class="list-group">
  <%= list_group_item "#{icon('home')} Home", wedding_path(@wedding) %>
  <% if can? :update, @wedding %>
    <%= list_group_item "#{icon('heart')} Our Day", wedding_our_day_path(@wedding) %>
    <%= list_group_item "#{icon('map-marker')} Directions", wedding_directions_path(@wedding) %>
  <% end %>
  <%= list_group_item "#{icon('list')} Guest List", wedding_guestlist_path(@wedding) %>
  <% if can? :update, @wedding %>
    <%= list_group_item "#{icon('gift')} Gift Registry", wedding_gift_registry_path(@wedding) %>
  <% end %>
  <%= list_group_item "#{icon('group')} Messages", wedding_messages_path(@wedding) %>
  <% if can? :update, @wedding %>
    <%= list_group_item "#{icon('envelope')} Invitation", wedding_invitations_path(@wedding) %>
  <% end %>
  <% if current_user.weddings.count > 1 %>
    <%= list_group_item "#{icon('random')} Switch Wedding", plan_root_path(@wedding) %>
  <% end %>
</div>
