<div class="list-group">
  <% if can? :update, @wedding %>
    <%= list_group_item "#{icon('heart')} Our Day", wedding_our_day_path(@wedding) %>
    <%= list_group_item "#{icon('map-marker')} Directions", wedding_directions_path(@wedding) %>
  <% end %>
  <%= list_group_item "#{icon('list')} Guest List", wedding_guestlist_path(@wedding) %>
  <% if can? :update, @wedding %>
    <%= list_group_item "#{icon('gift')} Gift Registry", wedding_gift_registry_path(@wedding) %>
  <% end %>
  <%= list_group_item "#{icon('group')} Messages", wedding_timeline_path(@wedding) %>
  <% if can? :update, @wedding %>
    <%= list_group_item "#{icon('envelope')} Invitation & Stationery", wedding_invitations_path(@wedding) %>
  <% end %>
  <%= list_group_item "#{icon('feed')} Activity", wedding_timeline_path(@wedding) %>
  <% if can? :manage_collaborators, @wedding %>
    <%= list_group_item "#{icon('cog')} Settings", wedding_collaborators_path(@wedding) %>
  <% end %>
  <%= list_group_item 'How it works', how_it_works_path %>
  <%= list_group_item 'Feedback and Support', feedback_new_path %>
</div>
