<!DOCTYPE html>
<html>
  <head>
    <title>WedVite</title>
    <link href="/favicon.png" rel="shortcut icon" type="image/png" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <%= stylesheet_link_tag    "users/application" %>
    <%= javascript_include_tag "users/application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js" %>
      <%= stylesheet_link_tag "users/ltIE9" %>
    <![endif]-->
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/users/nav" %>
    <div class="container">
      <%= render partial: "layouts/users/flash" %>
      <% if show_subnav? %>
        <%= render partial: "layouts/users/subnav" %>
      <% end %>
      <%= yield %>
    </div>
    <p class="copyright">
      <%= link_to "Privacy", help_page_path(:privacy), target: 'blank' %>
      <%= link_to "Legal", help_page_path(:legal), target: 'blank' %>
      &copy; copyright wedviteapp.com 2012
    </p>
    <%= render partial: 'layouts/analytics'  if Rails.env.production? %>
  </body>
</html>
