<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/favicon.png" rel="shortcut icon" type="image/png" />

    <title>WedVite</title>

    <%= stylesheet_link_tag "users/application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js" %>
      <%= stylesheet_link_tag "users/ltIE9" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar wd-navbar hidden-md-up">
      <button class="navbar-toggler offcanvas-toggle pull-xs-right" data-target="#offcanvas" data-toggle="offcanvas" type="button">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand"><%= controller.page_title %></a>
    </nav>

    <nav class="navbar navbar-light bg-faded hidden-sm-down">
      <%= link_to edit_user_registration_path, class: "navbar-brand text-truncate pull-sm-right" do %>
        <%= avatar(current_user) %> <span class="text-truncate"><%= current_user.name %></span>
      <% end %>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-3 navbar-offcanvas navbar-offcanvas-touch" id="offcanvas">
          <% if user_signed_in? %>
            <%= render partial: "layouts/users/nav" %>
            <% if show_subnav? %>
              <%= render partial: "layouts/users/subnav" %>
            <% end %>
          <% end %>
          <%= link_to edit_user_registration_path, class: "hidden-md-up" do %>
            <%= avatar(current_user) %> <span class="text-truncate"><%= current_user.name %></span>
          <% end %>
        </div>

        <div class="col-xs-12 col-md-9">
          <%= render partial: "layouts/users/flash" %>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "users/application" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places' %>
    <%= render partial: 'layouts/analytics'  if Rails.env.production? %>
  </body>
</html>
