<!DOCTYPE html>
<html>
  <head>
    <title>WedVite</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="/favicon.png" rel="shortcut icon" type="image/png" />
    <%= stylesheet_link_tag "users/application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js" %>
      <%= stylesheet_link_tag "users/ltIE9" %>
    <![endif]-->
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row row-offcanvas row-offcanvas-right">
      <nav class="navbar navbar-light bg-faded navbar-fixed-top hidden-md-up">
        <button class="navbar-toggler pull-xs-right " type="button" data-toggle="offcanvas" data-target="#sidebar">
          &#9776;
        </button>
        <a class="navbar-brand"><%= controller.page_title %></a>
      </nav>

      <nav class="navbar navbar-light bg-faded hidden-sm-down">
        <% if user_signed_in? %>
          <%= link_to edit_user_registration_path, class: "navbar-brand text-truncate pull-sm-right" do %>
            <%= avatar(current_user) %> <%= current_user.name %>
          <% end %>
        <% else %>
          <a class="navbar-brand pull-xs-right"><%= controller.page_title %></a>
        <% end %>
      </nav>

      <div class="container-fluid">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <%= render partial: "layouts/users/nav" %>
          <% if show_subnav? %>
            <%= render partial: "layouts/users/subnav" %>
          <% end %>
        </div>
        <div class="col-md-6 col-lg-9">
          <%= render partial: "layouts/users/flash" %>
          <%= yield %>
        </div>
      </div>

      <footer class="wd-footer">
        <%= link_to "Privacy", help_page_path(:privacy), target: 'blank' %>
        <%= link_to "Legal", help_page_path(:legal), target: 'blank' %>
        &copy; copyright wedviteapp.com 2012
      </footer>
    </div>

    <%= javascript_include_tag "users/application" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places' %>
    <%= render partial: 'layouts/analytics'  if Rails.env.production? %>
  </body>
</html>
