<!DOCTYPE html>
<html>
  <head>
    <title>WedVite</title>
    <%= stylesheet_link_tag    "users/application" %>
    <%= javascript_include_tag "users/application" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js" %>
      <%= javascript_include_tag "users/ltIE9" %>
    <![endif]-->
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/users/nav" %>
    <div class="container">
      <%= render partial: "layouts/users/flash" %>
      <%= yield %>
      <%= render partial: 'layouts/users/footer' %>
    </div>
  </body>
</html>
