<%= form_tag PAYPAL[:url] do %>
  <!-- Identify your business so that you can collect the payments.-->
  <%= hidden_field_tag "business", PAYPAL[:business] %> 

  <!-- Disable shipping address -->
  <%= hidden_field_tag "no_shipping", 1 %> 

  <!-- No notes to seller -->
  <%= hidden_field_tag "no_note", 0 %> 

  <input type="hidden" name="cmd" value="_cart"> 
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="upload" value="1">

  <% items.each do |item| %>
    <%= hidden_field_tag "item_number", item[:num] %>
    <!-- Specify details about the item that buyers will purchase. --> 
    <%= hidden_field_tag "item_name_#{item[:num]}", item[:description] %>
    <!-- Ammount -->
    <%= hidden_field_tag "amount_#{item[:num]}", item[:amount] %>

    <% if item[:discount_rate] > 0 %>
      <%= hidden_field_tag "discount_rate_#{item[:num]}", (item[:discount_rate] * 100).to_i %>
    <% end %>
  <% end %>

  <%= hidden_field_tag "image_url", "http://wedviteapp.com/assets/birds.png" %>

  <!-- return fields. --> 
  <%= hidden_field_tag "return", return_url %>
  <%= hidden_field_tag "cancel_return", cancel_url %>
  <%= hidden_field_tag "rm", 2 %>
  <%= hidden_field_tag "cbt", "Return to Wedvite" %>

  <!-- Display the payment button. --> 
  <button type="submit" class="btn btn-large">Pay now with PayPal &trade;</button>
  <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
<% end %>
