<section class="payment placeholder">
  <p>To send your invitations for <%= @wedding.name %> please pay
<strong>USD <%= "%.2f" % total.round(2) %></strong> with PayPal.</p>
  <p><strong>What you get:</strong></p>
  <ul>
    <li>All the extra features that your guests get to use to interact with your wedding after they RSVP or decline.</li>
    <li>Send unlimited invitations</li>
    <li>Manage unlimited guests</li>
    <li>Take as long as you want - your usage for this wedding never expires</li>
    <li>Unlimited collaborators</li>
    <li>Support answered within 24 hours</li>
  </ul>
  <p>&nbsp;</p>
  <%= render partial: 'users/payments/promotional_code', locals: {
    promotional_code: @promotional_code,
    promotional_code_error: @promotional_code_error
  } %>
  <p>&nbsp;</p>
  <table class="table">
    <tbody>
      <tr>
        <% if @promotional_code.discount > 0.0 %>
          <td>Wedding Plan Payment (<%= (@promotional_code.discount * 100).round %>% off) &nbsp;</td>
        <% else %>
          <td>Wedding Plan Payment&nbsp;&nbsp;</td>
        <% end %>
        <td><%= number_to_currency (wedding_price).round(2) %></td>
      <tr>
      <tr>
        <td>Stationery&nbsp;&nbsp;</td>
        <td><%= number_to_currency stationery_price %></td>
      <tr>
      <tr>
        <td><strong>Total&nbsp;&nbsp;</strong></td>
        <td><strong><%= number_to_currency total.round(2) %></strong></td>
      <tr>
    </tbody>
  </table>
  <%= render partial: 'users/payments/paypal',
    locals: {
      items: [
        {
          description: "Plan Payment",
          amount: Wedding::PRICE,
          discount_rate: @promotional_code.discount,
          num: 1
        }, {
          description: "Stationery",
          amount: @wedding.stationery.price,
          discount_rate: 0.0,
          num: 2
        }
      ],
      return_url: wedding_payment_success_url(@wedding),
      cancel_url: wedding_payment_failure_url(@wedding),
      custom: "#{@wedding.id},#{current_user.id}"
    }
  %>
  <sub>&nbsp;PayPal also allows you to pay by credit card.</sub>
</section>
