    <legend>Dates &amp; Times</legend>
    <div class="control-group">
      <%= f.label :ceremony_when, "Ceremony", class: "control-label" %>
      <div class="controls">
        <%= f.date_select :ceremony_when, {}, class: 'span2' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.time_select :ceremony_when, { ignore_date: true }, { class: 'span1' } %><strong>to</strong> <%= f.time_select :ceremony_when_end, {}, class: 'span1' %>
        <p class="help-block">This date and time will be used by your guests to add their calendar.</p>
      </div>
    </div>

    <% if @wedding.has_reception? %>
      <div class="control-group">
        <%= f.label :reception_when, "Reception", class: "control-label" %>
        <div class="controls">
          <%= f.date_select :reception_when, {}, class: 'span2' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.time_select :reception_when, { ignore_date: true }, { class: 'span1' } %><strong>to</strong> <%= f.time_select :reception_when_end, {}, class: 'span1' %>
          <p class="help-block">This date and time will be used by the guests that are attending the reception to add to their calendar.</p>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :respond_deadline, "RSVP deadline", class: "control-label" %>
      <div class="controls">
        <%= f.date_select :respond_deadline, {}, class: 'span2' %>
        <p class="help-block">This will be sent out in the invitation email so guests know when to respond by. Guests will not be able to respond to the invitation after this date and will be asked to contact you directly instead.</p>
      </div>
    </div>
