<section class="weddings edit">
  <%= form_for @wedding, html: { class: 'form-horizontal' } do |f| %>
    <%= error_messages_on(@wedding) %>
    <fieldset>
      <div class="control-group">
        <%= f.label :respond_deadline, class: "control-label" %>
        <div class="controls">
          <%= f.date_select :respond_deadline, {}, class: 'span2' %>
          <%= f.time_select :respond_deadline, { ignore_date: true }, { class: 'span1' } %>
          <p class="help-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :ceremony_when, class: "control-label" %>
        <div class="controls">
          <%= f.date_select :ceremony_when, {}, class: 'span2' %>
          <%= f.time_select :ceremony_when, { ignore_date: true }, { class: 'span1' } %> until:
          <%= f.time_select :ceremony_when_end, {}, class: 'span1' %>
          <p class="help-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :has_reception, class: "control-label" %>
        <div class="controls">
          <label class="radio">
            <%= f.radio_button :has_reception, true %>
            <strong>Yes:</strong> Option one is this and that—be sure to include why it's great
          </label>
          <label class="radio">
            <%= f.radio_button :has_reception, false %>
            <strong>No:</strong> Option two can is something else and selecting it will deselect option one
          </label>
        </div>
      </div>

      <div id="reception">

        <div class="control-group">
          <%= f.label :reception_when, class: "control-label" %>
          <div class="controls">
            <%= f.date_select :reception_when, {}, class: 'span2' %>
            <%= f.time_select :reception_when, { ignore_date: true }, { class: 'span1' } %> until:
            <%= f.time_select :reception_when_end, {}, class: 'span1' %>
            <p class="help-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>

      </div>

        <div class="actions">
          <% if @wedding.new_record? %>
            <%= f.submit 'Create wedding', class: 'btn primary' %>&nbsp;<%= link_to 'Cancel', root_path, class: 'btn' %>
          <% else %>
            <%= f.submit 'Update wedding', class: 'btn primary' %>&nbsp;<%= link_to 'Cancel', wedding_path(@wedding), class: 'btn' %>
          <% end %>
        </div>
      </fieldset>
    <% end %>
</section>

<script>
(function() {

    var $reception = $('#reception'),
        $radio     = $('#wedding_has_reception_true')

    var has_reception = function() {
        return $radio.is(':checked')
    }

    if (!has_reception()) $reception.hide()

    $('input[type=radio]').click(function() {
        has_reception() ? $reception.fadeIn() : $reception.fadeOut()
    })

})();
</script>
