<div class="row">
  <div class="span4">
    <h2>Designers</h2>
  </div>
  <div class="span12">
    <table class="zebra-striped">
      <thead>
        <tr>
          <th class="header">#</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @designers.each do |designer| %> 
          <tr>
            <td><%= designer.id %></td>
            <td><%= designer.name %></td>
            <td><%= designer.email %></td>
            <td>
              <%= link_to "edit", edit_designer_path(designer) %>
              <%= link_to "open", designer_path(designer) %>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
