<div class="row">
  <div class="col-sm-12">
    <h1 id="messages" class="page-header">Messages</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
  <%= form_for @guest.messages.build,
    url: messages_path(@guest.token) do |f| %>
    <div class="form-group">
      <%= f.text_area :text, placeholder: "New Message",
      data: { toggle: 'autogrow' },
      style: "height: 3rem;",
      class: ["form-control", "autogrow-short"], rows: 1 %>
    </div>
    <button type="submit" class="btn btn-secondary">Post</button>
  <% end %>
  </div>
</div>

<% @messages.each do |message| %>
  <div class="wd-bubble <%= message.by?(Guest, @guest.id) ? 'wd-bubble-me' : 'wd-bubble-other' %>">
    <small class="text-muted" style="color: #<%= message.messageable.color %>"><%= message.messageable.name %></small>
    <div class="wd-bubble-message"><%= message.text %>
      <a data-toggle="collapse" href="#collapse-<%= message.id %>" aria-expanded="false" aria-controls="collapseExample">
          reply
      </a>
    </div>
    <%= form_for message.replies.build,
      url: message_replies_path(@guest.token, message),
      html: { id: "collapse-#{message.id}", class: "collapse" } do |f| %>
      <div class="form-group">
        <%= f.text_area :text, placeholder: "Message",
        data: { toggle: 'autogrow' },
        style: "height: 3rem;",
        class: ["form-control", "autogrow-short"], rows: 1 %>
      </div>
      <button type="submit" class="btn btn-secondary">Post</button>
    <% end %>
    <small class="text-muted"><em><%= time_ago_in_words message.created_at %> ago</em></small>
  </div>
  <% message.replies.select(&:persisted?).each do |reply| %>
    <div class="wd-bubble wd-bubble-reply <%= message.by?(Guest, @guest.id) ? 'wd-bubble-me' : 'wd-bubble-other' %>">
      <small class="text-muted" style="color: #<%= reply.replyable.color %>"><%= reply.replyable.name %></small>
      <div class="wd-bubble-message"><%= reply.text %></div>
      <small class="text-muted"><em><%= time_ago_in_words reply.created_at %> ago</em></small>
    </div>
  <% end %>
<% end %>
