<div class="row">
  <div class="span4">
    <h2>Agencies</h2>
    <%= link_to "+ Add new agency", new_agency_path, class: 'btn' %>
  </div>
  <div class="span12">
    <table class="zebra-striped">
      <thead>
        <tr>
          <th class="header">#</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @agencies.each do |agency| %> 
          <tr>
            <td><%= agency.id %></td>
            <td><%= agency.name %></td>
            <td>
              <%= link_to "edit", edit_agency_path(agency) %>
              <%= link_to "open", agency_path(agency) %>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
