
<div class="row">
  <div class="span4">
    <h2>Comment</h2>
    <p>Information about this action.</p>
  </div>
  <div class="span12">
    <%= form_for @comment, url: url do |f| %>
      <%= error_messages_on @comment %>
      <fieldset>
        <legend>Example form legend</legend>

        <div class="clearfix">
          <%= f.label :text %>
          <div class="input">
            <%= f.text_area :text, class: 'xxlarge', rows: 3 %>
            <span class="help-block">
              Block of help text to describe the field above if need be.
            </span>
          </div>
        </div>
        <div class="actions">
          <%= f.submit 'Save comment', class: 'btn primary' %>&nbsp;<%= link_to 'Cancel', wedding_path(@wedding), class: 'btn' %>
        </div>
      </fieldset>
    <% end %>
  <div>
<div>
