<section class="sessions placeholder">
  <div class="content">
    <div class="page-header">
      <h1>Forgot your password?</h1>
    </div>
    <div class="row">
      <div class="span7">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="control-group">
            <%= f.label :email, class: "control-label" %>
            <div class="controls">
              <%= f.email_field :email, class: 'input-xlarge', size: 30 %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-large' %>
          </div>
        <% end %>
      </div>
      <div class="span4">
        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
