<div class="row">
  <div class="span6">
    <div class="page-header">
      <h1>WedVite</h1>
    </div>
  </div>
  <div class="span6 call-to-action">
    <p class="hidden-phone"><%= t :value_proposition %></p>
    <ul>
      <li><%= link_to 'Sign up for free', new_user_registration_url(subdomain: 'plan'), class: 'cupid pink sign-up' %></li>
      <li><%= link_to 'Sign in', new_user_session_url(subdomain: 'plan'), class: 'cupid blue sign-in' %></li>
    </ul>
    <p class="visible-phone"><%= t :value_proposition %></p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <p><%= t :elevator_pitch %></p>
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#orginise">Organise</a>
      </li>
      <li><a href="#invitations-and-stationery">Invitations</a></li>
      <li><a href="#share">Share</a></li>
      <li><a href="#pricing">Pricing</a></li>
    </ul>
  </div>
</div>

<article class="slide-deck outer">
  <section class="slide outer" id="orginise" data-position="1" data-transition="vertical">
    <div class="slide-deck inner">
      <div class="slide inner" id="guestlist" data-position="1" data-transition="horizontal">
        <%= render partial: "guestlist" %>
      </div>
    </div>
  </section>
  <section class="slide outer" id="invitations-and-stationery" data-position="2" data-transition="vertical">
    <div class="slide-deck inner">
      <div class="paddle left"></div>
      <div class="paddle right"></div>
      <div class="slide inner" id="invitations" data-position="1" data-transition="horizontal">
        <%= render partial: "guestlist" %>
      </div>
      <div class="slide inner" id="stationery" data-position="2" data-transition="horizontal">
        <%= render partial: "guestlist" %>
      </div>
    </div>
  </section>
  <section class="slide outer" id="share" data-position="3" data-transition="vertical">
    <div class="slide-deck inner">
      <div class="paddle left"></div>
      <div class="paddle right"></div>
      <div class="slide inner" id="directions" data-position="1" data-transition="horizontal">
        <%= render partial: "guestlist" %>
      </div>
      <div class="slide inner" id="messages" data-position="2" data-transition="horizontal">
        <%= render partial: "guestlist" %>
      </div>
      <div class="slide inner" id="rsvps" data-position="3" data-transition="horizontal">
        <%= render partial: "guestlist" %>
      </div>
    </div>
  </section>
  <section class="slide outer" id="pricing" data-position="4" data-transition="vertical">
    <div class="row">
      <div class="span12">
        <div class="blurb">
          <h1>$49.95</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a massa ligula, id tristique massa. Vivamus sollicitudin posuere ante et imperdiet. Duis molestie neque sagittis tellus egestas elementum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a massa ligula, id tristique massa. Vivamus sollicitudin posuere ante et imperdiet. Duis molestie neque sagittis tellus egestas elementum.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>

<script>
(function() {

    var $outerContainer  = $('.slide-deck.outer'),
        $outerSections  = $outerContainer.find('.slide.outer'),
        $outerNav       = $('.nav-pills li')

    $outerSections.slideDeck({
        speed: 500,
        easing: $.support.transition ? 'ease' : 'swing'
    })

    $outerNav.find('a').on('click', function(event) {
        event.preventDefault()

        // toggle active states
        $outerNav.removeClass('active')
        $(this).parent().addClass('active')

        // transition
        var id = this.hash.replace(/#/, '')
        $outerSections.change(id)
        return false
    })

    $('.slide-deck.inner').each(function(index, container) {
        var $container = $(container),
            $sections  = $container.find('.slide.inner'),
            $left      = $container.find('.paddle.left'),
            $right     = $container.find('.paddle.right')

        $sections.slideDeck({
            speed: 500,
            easing: $.support.transition ? 'ease' : 'swing'
        })

        $left.on('click', function(){
            $sections.previous()
        })
        $right.on('click', function(){
            $sections.next()
        })
    })

    $(window).on("load",function() {
        setTimeout(function(){
            window.scrollTo(0, 1);
        }, 100);
    });

})();
</script>
