<div class="birdies"></div>
<div class="shadow-wrap container">
<div class="container">
  <div class="row">
    <div class="span4 offset4">
      <div class="stripes">
        <%= image_tag 'vp2x.png', alt: 'Wedding invitations, save money, paper, time and hassle.' %>
      </div>
    </div>
  </div>
</div>

<header class="overlay">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Wedvite</h1>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="span4 offset4">
    <ul class="login-signup">
      <li class="stripes">
        <%= link_to new_user_session_url(subdomain: 'plan') do %>
          <%= image_tag 'login2x.png', alt: 'Log in' %>
        <% end %>
      </li>
      <li class="stripes">
        <%= link_to new_user_registration_url(subdomain: 'plan') do %>
          <%= image_tag 'signup2x.png', alt: 'Sign up for free' %>
        <% end %>
      </li>
    </ul>
    <p>Forget lengthy spreadsheets and spending hundreds on expensive
printing and postage, WedVite makes it easy for you to create and manage
your wedding guest list, personalise your invitation and communicate all
the details of your special day with guests.</p>
  </div>
</div>

<header class="row">
  <div class="span12">
    <h2>Organise</h2>
  </div>
</header>

<div class="row">
  <div class="span4 offset4">
    <p>Sign up for free and create your wedding list. Simply add guests
to the list and then collaborate together where you can approve, make
tentative (B list) or reject guests (make sure ‘that guy’ doesn’t get on
the final invite list).</p>

    <p>You can also easily keep track of guest numbers (adults and children)
from both the Bride and Groom’s sides.</p>
  </div>
</div>

<header class="row">
  <div class="span12">
    <h2>Share</h2>
  </div>
</header>
<div class="row">
  <div class="span4 offset4">
    <p>You can choose to share the guest list with your family, bridal
party or wedding planner. And there’s no need to worry about your list
being altered, you can allocate your collaborators with viewing
permissions such as view, comment or edit.</p>
  </div>
</div>

<header class="row">
  <div class="span12">
    <h2>Stationery</h2>
  </div>
</header>
  <div class="slide-deck">
    <div class="paddle left"></div>
    <div class="paddle right"></div>
    <div class="slide" id="invitations" data-position="1" data-transition="horizontal">
      <div class="row">
        <div class="span5 offset2">
          <div class="imac hidden-phone">
            <div class="imac-frame">
              <%= image_tag "site/imac.png" %>
            </div>
            <div class="imac-content">
              <%= image_tag "site/stationery1-imac.png" %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="iphone">
            <div class="iphone-frame">
              <%= image_tag "site/iphone.png" %>
            </div>
            <div class="iphone-content">
              <%= image_tag "site/stationery1-iphone.png" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" id="stationery" data-position="2" data-transition="horizontal">
      <div class="row">
        <div class="span6 offset1">
          <div class="imac hidden-phone">
            <div class="imac-frame">
              <%= image_tag "site/imac.png" %>
            </div>
            <div class="imac-content">
              <%= image_tag "site/stationery2-imac.png" %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="iphone">
            <div class="iphone-frame">
              <%= image_tag "site/iphone.png" %>
            </div>
            <div class="iphone-content">
              <%= image_tag "site/stationery2-iphone.png" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="span4 offset4">
    <p>Choose from a selection of beautiful wedding invitation designs
and in your own words, create your invite to give guests a glimpse into
the style and theme of your special day. You can preview each individual
invitation to check spelling and grammar before you press send.</p>
  </div>
</div>

<header class="row">
  <div class="span12">
    <h2>Invite</h2>
  </div>
</header>
<div class="row">
  <div class="span4 offset4">
    <p>Once your wedding details are confirmed, you can send out your
invites directly from WedVite, saving you time and money on sourcing
mailing addresses, expensive printing and postage costs.

    <p>Your guests can instantly RSVP from your online invite at the touch of a
button, which automatically updates your guest list with who accepted
with pleasure and who declined with regret.</p>

    <p>So your parents or grandparents don’t have email or use the internet? No
problem, you can print out a special invitation from WedVite to take
pride of place in their home. And for those traditionalists who like to
feel and smell the real thing, they too can print a copy of your wedding
invite for their fridge.</p> 

    <p>As guests accept or decline, they are able to post you a personalised
message. From here, attending guests can also specify any special
requirements such as vegetarian/gluten-free diets, childrens meals, high
chairs or wheelchairs. </p>

    <p>Confirmed guests can automatically add your wedding date to their email
or smartphone calendar and will receive all the details for your special
day through WedVite’s added feature - ‘Our Day’. On a dedicated WedVite
page, you can provide guests with as much information as you wish,
including directions to your wedding, where to stay, the next day, local
activities, transport, gift registry, meet the bridal party and much
more.</p>
  </div>
</div>

<header class="row">
  <div class="span12">
    <h2>Pricing</h2>
  </div>
</header>
<div class="row">
  <div class="span4 offset4">
    <h3>$49.95</h3>
    <p>Use Wedvite for free until you actually decide to send out the
invitations. Once you have paid you can continue to send out round after
round of invitations forever.</p>
  </div>
</div>

</div>

<script>
(function() {

    $('.slide-deck').each(function(index, container) {
        var $container = $(container)
            $sections  = $container.find('.slide'),
            $left      = $container.find('.paddle.left'),
            $right     = $container.find('.paddle.right')

        $sections.slideDeck({
            speed: 1000,
            easing: $.support.transition ? 'ease' : 'swing'
        })

        $left.on('click', function(){
            $sections.previous()
        })
        $right.on('click', function(){
            $sections.next()
        })
    })

    $(window).on("load",function() {
        setTimeout(function(){
            window.scrollTo(0, 1);
        }, 100);
    });

})();
</script>
