<div class="birdies"></div>
<header class="overlay">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="brand"><span>Wedvite</span></h1>
      </div>
    </div>
  </div>
</header>
<div class="shadow-wrap container">
  <div class="shadow-content">
    <div class="container">
      <div class="row">
        <div class="span4 offset4">
          <div class="stripes">
            <%= image_tag 'site/vp2x.png', alt: 'Wedding invitations, save money, paper, time and hassle.' %>
          </div>
        </div>
      </div>
    </div>

    <div class="brand-spacer"></div>
    <div class="row">
      <div class="span4 offset4">
        <p>Forget updating lengthy spreadsheets and spending hundreds on expensive
    printing and postage, WedVite makes it easy for you to create and manage
    your wedding guest list, personalise your invitation and share all
    the details of your special day with guests.</p>
      </div>
    </div>

    <div class="row">
      <div class="span4 offset4">
        <ul class="login-signup">
          <li class="stripes">
            <%= link_to new_user_session_url(subdomain: 'plan') do %>
              <%= image_tag 'site/login2x.png', alt: 'Log in' %>
            <% end %>
          </li>
          <li class="stripes">
            <%= link_to new_user_registration_url(subdomain: 'plan') do %>
              <%= image_tag 'site/signup2x.png', alt: 'Sign up for free' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <%= render partial: 'organise' %>
    <%= render partial: 'stationery' %>
    <%= render partial: 'invite' %>
    <%= render partial: 'share' %>
    <%= render partial: 'thank' %>
  </div>
</div>

<script>
(function() {

    $('.slide-deck').each(function(index, container) {
        var $container = $(container)
            $sections  = $container.find('.slide'),
            $left      = $container.find('.paddle.left'),
            $right     = $container.find('.paddle.right')

        $sections.slideDeck({
            speed: 1000,
            easing: $.support.transition ? 'ease' : 'swing'
        })

        $left.on('click', function(){
            $sections.previous()
        })
        $right.on('click', function(){
            $sections.next()
        })
    })

})();
</script>
