<section class="sessions new">
  <div class="content">
    <h1><%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: 'facebook' %></h1>
    <h1>or</h1>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "form-accounts" }) do |f| %>
      <h1>Create your free account</h1>
      <%= devise_error_messages! %>
      <div class="input">
        <%= f.text_field :first_name, class: 'input-xlarge', size: 30, placeholder: 'First name' %>
      </div>
      <div class="input">
        <%= f.text_field :last_name, class: 'input-xlarge', size: 30, placeholder: 'Last name' %>
      </div>
      <div class="input">
        <%= f.email_field :email, class: 'input-xlarge', size: 30, placeholder: 'Email' %>
      </div>
      <div class="input">
        <%= f.password_field :password, class: 'input-xlarge', size: 30, placeholder: 'Password' %>
      </div>
      <div class="form-actions">
        <%= f.submit "Sign up", class: 'btn btn-large' %>
      </div>
      <p>Already have an account? <%= link_to "Sign in", new_user_session_path %></p>
    <% end %>
  </div>
</section>
