<section class="sessions new">
  <div class="content">
    <div class="page-header">
      <h1>Sign up</h1>
    </div>
    <div class="row">
      <div class="span10">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="clearfix">
            <%= f.label :first_name %>
            <div class="input">
              <%= f.text_field :first_name, class: 'xlarge', size: 30 %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :last_name %>
            <div class="input">
              <%= f.text_field :last_name, class: 'xlarge', size: 30 %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :email %>
            <div class="input">
              <%= f.email_field :email, class: 'xlarge', size: 30 %>
            </div>
          </div>
          <div class="clearfix">
            <%= f.label :password %>
            <div class="input">
              <%= f.password_field :password, class: 'xlarge', size: 30 %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", class: 'btn large primary' %>
          </div>
        <% end %>
      </div>
      <div class="span4">
        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
